:root {
	/* Colors */
	--background-primary: #141E30;  /* fallback for old browsers */
	--background-primary: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	--background-primary: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	--background-header: #141E30;
	--background-footer-color: #6cf;

	--font-color-primary: #e6f1ff;
	--font-color-secondary: white;
	--font-color-highligth: #64ffda;
	--font-shadow-effect: #14011bde;

	/* body margin */
	--margin-mobile: 30px 0 0 0;

	/* Mobile font-sizes */
	--mobile-font-size-title: 45px;
	--mobile-font-size-undertitle: 30px;
	--mobile-font-size-secondary-undertitle: 25px;
	--mobile-font-size-default: 18px;

	/* Tablet font-sizes */
	--tablet-font-size-title: 50px;
	--tablet-font-size-undertitle: 40px;
	--tablet-font-size-secondary-undertitle: 32px;
	--tablet-font-size-footer: 28px;
	--tablet-font-size-default: 24px;

	/* Desktop font-sizes */
	--desktop-font-size-title: 80px;
	--desktop-font-size-undertitle: 50px;
	--desktop-font-size-secondary-undertitle: 26px;
	--desktop-font-size-default: 20px;
	--desktop-font-size-paragraph: 25px;
	--desktop-font-size-animation: 22px;

	/* font-weigth */
	--font-weigth-bold: 800;
	--font-weigth-default: 400;

	/* line-heigth */
	--font-line-heigth: 80px;
}