body {
   background: var(--background-primary);
   color: var(--font-color-primary);
   font-weight: var(--font-weigth-default);
}

/* Mobile */
@media screen and (max-width: 600px) {
   body {
      font-size: var(--mobile-font-size-default);
      margin: var(--margin-mobile);
   }

   h1 {
      font-size: var(--mobile-font-size-title);
      font-weight: var(--font-weigth-bold);
   }

   h2 {
      font-size: var(--mobile-font-size-undertitle);
   }

   h3 {
      font-size: var(--mobile-font-size-secondary-undertitle);
   }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 980px) {
   body {
      font-size: var(--tablet-font-size-default);
   }

   h1 {
      font-size: var(--tablet-font-size-title);
      font-weight: var(--font-weigth-bold);
   }

   h2 {
      font-size: var(--tablet-font-size-undertitle);
   }

   h3 {
      font-size: var(--tablet-font-size-secondary-undertitle);
   }
}

@media screen and (min-width: 981) and (max-width: 1200px) {
   body {
      font-size: var(--tablet-font-size-default);
   }

   h1 {
      font-size: var(--tablet-font-size-title);
      font-weight: var(--font-weigth-bold);
   }

   h2 {
      font-size: var(--tablet-font-size-undertitle);
   }

   h3 {
      font-size: var(--tablet-font-size-secondary-undertitle);
   }
}

/* Desktop */
@media screen and (min-width: 1200px) {
   body {
      font-size: var(--desktop-font-size-default);
   }

   h1 {
      font-size: var(--desktop-font-size-title);
      font-weight: var(--font-weigth-bold);
   }

   h2 {
      font-size: var(--desktop-font-size-undertitle);
   }

   h3 {
      font-size: var(--desktop-font-size-secondary-undertitle);
   }
}

span {
   display: inline;
}

   /* width */
   ::-webkit-scrollbar {
      width: 10px;
      margin-left: 200px;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      background: var(--font-color-highligth);
      border-radius: 10px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
      background: var(--font-color-highligth);
   }


