body {
   background: var(--background-primary);
   color: var(--font-color-primary);
}

@media screen and (max-width: 1200px) {
   h1 {
      font-size: var(--font-heading-l);
   }

   h2 {
      font-size: var(--font-heading);
   }

   p {
      font-size: var(--font-l);
   }
}

@media screen and (min-width: 1200px) {
   h1 {
      font-size: var(--font-heading-xxl);
   }

   h2 {
      font-size: var(--font-heading-xl);
   }

   h3 {
      font-size: var(--font-heading-l);
   }

   p {
      font-size: var(--font-xl);
   }
}

span {
   display: inline;
}

/* Global editing browser scrolling bar */
::-webkit-scrollbar {
   width: 10px;
   margin-left: 200px;
}

::-webkit-scrollbar-thumb {
   background: #64ffda;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #64ffda;
}