:root {
	--background-primary: #141E30;  /* fallback for old browsers */
	--background-primary: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
	--background-primary: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	--font-color-primary: #e6f1ff;
	--font-color-secondary: #fff;
	--font-color-highligth: #64ffda;
	--font-color-effect: #14011dbe;

	--font-xl: 12px;
	--font-s: 14px;
	--font-m: 16px;
	--font-l: 18px; 
	--font-xl: 20px;
	--font-xxl: 28px;
	--font-heading: 32px;
	--font-heading-l: 48px;
	--font-heading-xl: 72px;

	--read-border-radius: 2px solid #64ffda;
	--read-margin-left: 20px;
	--read-color: #64ffda;
	--read-width: 200px;
	--read-transition: 2s;
	--read-hover-focus: inset 200px 0 0 0 #64ffda;
	--read-hover-focus-color: black;
	
	--tab-padding: 20px;
	--tab-border: 2px solid #64ffda;
	--tab-width: 200px;
	--tab-transition: 3s;
	--tab-color: #64ffda;
	--tab-cursor: pointer;
	--tab-hover-focus: inset 500px 0 0 0 #64ffda;
	--tab-hover-focus-color: black;

	--scroll-padding: 100px;

	--text: 50ch;
	--large-text: 60ch;
}